<body>
<div>
  <div>
    <div>
      <div>
        <table align="center">
          <thead>
          <tr>
            <th>Номер</th>
            <th>Задача</th>
            <th>Статус</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of todoList; index as i">
            <td class="id" (click)="displayChangeTask(i)">
              {{ i + 1 }}
            </td>
            <td class="text" (click)="displayChangeTask(i)">
              {{ task.text }}
            </td>
            <td>
              <label>
                <input
                  type="checkbox"
                  [checked]="task.isDone"
                  (click)="changeIsDoneTask(i)"
                />
              </label>
            </td>
            <td>
              <button class="button-delete" (click)="deleteTask(i)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div>
        <br>
        <button class="button-add" (click)="displayAddTask()">Добавить задачу</button>
      </div>
      <br>
      <div [hidden]="!isDisplayAddTask">
        <div [formGroup]="addTaskGroup">
          <label>
            <input
              type="text"
              placeholder="Текст задачи"
              formControlName="inputText"
              (keyup.enter)="addTask()"
            />
          </label>
        </div>
        <br>
        <div>
          <button class="button-add" [disabled]="!addTaskGroup.valid" (click)="addTask()">Добавить</button>
        </div>
      </div>

      <div [hidden]="!isDisplayChangeTask">
        <p>Изменить задачу</p>
        <div [formGroup]="changeTaskGroup">
          <label>
            <input
              type="text"
              placeholder="Новый текст задачи"
              formControlName="inputText"
              (keyup.enter)="changeTextTask()"
            />
          </label>
        </div>
        <br>
        <div>
          <button class="button-add" [disabled]="!changeTaskGroup.valid" (click)="changeTextTask()">
            Изменить
          </button>
        </div>
      </div>
      <!--      <p><b>База данных:</b></p>-->
      <!--      <div *ngFor="let task of todoList">-->
      <!--        <p>{{ task.id }} : {{ task.text }} : {{ task.isDone }}</p>-->
      <!--      </div>-->
    </div>
    <div></div>
  </div>
</div>
</body>
